
:root{
    --main-font-family:Inter;
    --main-color: #14B8A6;
    --theme-color:#000000;
    --icon-undone-color:#EEEEEE;
    --icon-border-color:#A4A4A4;
    --bg-undone-color:#FFFFFF;
    --bg-done-color:#E4E4E4;
    --bg-nav-color:#FFFFFF;
    /* --main-bg-color:#EEEEEE; */
    --bg-search-color:#E3E3E3;
    --main-bg-color:#F5F5F5;
    --search-color:#666666;
    --secondary-color:#A4A4A4;
    --icon-edit-color:#9A9A9A;
    --bg-input-color:#E6E6E6;
    --shadow-bg-color:#4D4D4D4D;
}
/* :root{
    --main-font-family:Inter;
    --main-color: #14B8A6;
    --theme-color:#FFFFFF;
    --icon-undone-color:#9A9A9A;
    --icon-border-color:#14B8A6;
    --bg-undone-color:#1A1A1A;
    --bg-done-color:#4D4D4D;
    --bg-nav-color:#4D4D4D;
    --main-bg-color:#333333;
    --bg-search-color:#E3E3E3;
    --search-color:#666666;
    --secondary-color:#A4A4A4;
    --icon-edit-color:#9A9A9A;
    --bg-input-color:#E6E6E6;
    --shadow-bg-color:#4D4D4D4D;
} */

*{
    padding: 0px;
    margin: 0px;
    font-family: var(--main-font-family);
    box-sizing: border-box;
}
/* .list-item{
    display: flex;
} */
body {
    position: relative;
}
header {
    display: flex;
}
.logo {
    height: 40px;
    margin-block: 15px;
    padding-left: 20px;
}
.logo img {
    width: 100%;
    height: 100%;
}
.search {
    margin-left: 74px;
    height: 40px;
    width: 505px;
    margin-block: 15px;
    background-color: var(--bg-search-color);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    border: 0px;
}
.search::placeholder{
    color: var(--search-color);
}
.search:placeholder-shown {
    color: var(--search-color);
    padding-left: 10px;
}
/* .search::placeholder::before {
    content: 'hello';
    width: 20px;
    height: 20px;
    background-color: red;
} */ 
/* @todo later */

.hero-section {
    background-color: var(--main-bg-color);
    background-color: #F5F5F5;
    padding-inline-start: 8%;
    padding-inline-end: 26%;
    position: relative;
}
.heading{
    padding-top: 17px;
    display: flex;
}
.heading h2 {
    text-transform: capitalize;
    font-size: 24px;
    margin-right: 12px;
}
.heading h2::before {
    content: "";
    width: 73px;
    height: 2px;
    position: absolute;
    top: 31px;
    left: 20px;
    background-color: var(--main-color);
}
.taskNum {
    color: var(--main-color);
}
.heading button {
    background-color: var(--main-color);
    outline: none;
    border: none;
    padding: 10px 17px 9.6px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: var(--bg-nav-color);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
.plus-sign {
    margin-inline-end: 7px;
    padding:2px 3px 2px 4px;
    background-color: var(--main-color);
    border: 1px solid var(--bg-nav-color);
    color: var(--bg-nav-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.filters {
    display: flex;
    gap: 15px;
    padding-block: 24px 42px;
}
.filters > span{
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    padding: 7px 12.32px 6px 12px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
span.dash-span {
    border: none;
    padding: 7px 0px 6px;
}
.task-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 36px;
}
.task-list li {
    display: flex;
    height: 100%;
}
.task-list p {
    text-align: left;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.78px;
    color: var(--main-color);
    padding-top: 11px;
}
.task-list span {
    text-align: left;
    text-transform: capitalize;
    font-weight: 500;
    padding-bottom: 18px;
    display: inline-block;
    font-size: 14px;
    line-height: 16.94px;
    color: var(--secondary-color);
}
.task-list button {
    outline: none;
    border: 0px;
}
.btnDoneState{
    margin: 22px 22px 12px 22px;
    background-color: transparent;
    font-size: 20px;
    font-weight: 100;
}
.undoneBtn {
    color: var(--icon-border-color);
}
.doneBtn {
    color: var(--bg-done-color);
}
.undone-task {
    /* order: 1; */
    margin-block: 0px;
    background-color: var(--bg-undone-color);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
}
.done-task {
    /* order: 2; */
    margin-block: 0px;
    background-color: var(--bg-done-color);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
}
.done-task p {
    text-decoration: line-through;
}
.del-edit-btn {
    display: flex;
    gap: 16px;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: transparent;
    height: 18px;
    width: 14px;
    font-size: 17px;
    margin-left: auto;
    margin-bottom: 7px;
    padding-right: 62px;
    padding-left: 16px;
}
.deleteBtn {
    height: 18px;
    width: 14px;
    font-size: 17px;
    background-color: inherit;
}
.btnEdit {
    background-color: transparent;
    height: 18px;
    width: 14px;
    font-size: 17px;
    color:var(--icon-edit-color);
}
.btnEdit:not(:disabled) {
    color: var(--main-color);
}
.shadow{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #4D4D4D4D;
}
.modal {
    padding-left: 26px;
    padding-right: 36px;
    background-color: var(--bg-undone-color);
    text-align: left;
    width: 513px;
    height: 236px;
    margin-inline: auto;
    position: fixed;
    top: 186px;
    left: 30%;
    z-index: 4;
    box-shadow: 1px 1px 500px 400px #4D4D4D4D;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
}
.modal h3 {
    color: var(--main-color);
    font-size: 22px;
    font-weight: 700;
    line-height: 26.63px;
    padding-block:28px;
}
.modal p {
    color: var(--theme-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    padding-block-end: 6px;
}
.modal span {
    display: inline-block;
    color: var(--theme-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    padding-block-end: 31px;
}
.modal-btns {
    padding-bottom: 35px;
    display: flex;
    gap: 9px;
    justify-content: flex-end;
}
.modal-btns button {
    outline: none;
    border:none;
    padding: 10px 25px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid var(--main-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
}
.modal-btns button:first-child {
    background-color: var(--bg-undone-color);
    color: var(--main-color);
}
.modal-btns button:last-child {
    background-color: var(--main-color);
    color: var(--bg-undone-color);
}


.tasks {
    background-color: var(--main-bg-color);
    background-color: #F5F5F5;
    padding-inline-start: 8%;
    padding-inline-end: 26%;
}
